*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
main{
    text-align: center;
}
p{
    text-decoration: underline;
}
h2{
    color: pink;
}